/**********************************************************************************************

	Title: CSS for DGH MicroMovie Site
	Author: Elmo Wu (by xuedesign studio)
	Author URL: http://www.xuedesign.tw/
	Version: v1.0 (2015-08)

***********************************************************************************************
		1 通用
		2.首頁
		   2-1. 頂端列
		   2-2. 主要內容區塊
		   2-3. 首頁選單
		   2-4. 版權列	
***********************************************************************************************/

/* 1. 通用 
===============================================================================================*/
body{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#513030;
	background:url(../images/bg_site.png) repeat}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}
::selection {
   background:#4b4608;
   color:#fffcdb}
::-moz-selection {
   background:#4b4608;
   color:#fffcdb}

/* 2. 首頁  
===============================================================================================*/
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
#wrap{
	display:block;
	width:1238px;
	margin:0 auto}
#box_index{
	display:block;
	position: absolute;
	top: 15px;
    left: 50%;
	width:1238px;
	background:url(../images/bg_index.png) repeat;
	margin: 0 0 0 -620px;
	-webkit-box-shadow: 0 0 20px #4E4E4E;
    -moz-box-shadow: 0 0 20px #4E4E4E;
    box-shadow: 0 0 20px #4E4E4E;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px}

/* 2.1 頂端列 */	
header{
	display:block;
	position:relative;
	width:1238px;
	height:89px}
h1 a{
	display:block;
	position:absolute;
	top:15px;
	left:22px;
	width:314px;
	height:90px;
	background:url(../images/pic_h1.png) no-repeat;
	text-indent:-9999px}

/* 2.2 主要內容區塊 */		
#box_content{
	display:block;
	position:relative;
	width:1240px;
	height:600px}
#box_content .movie-title-01, #box_content .movie-title-02{ 
    display:block; 
	position:absolute;
	text-indent:-9999px}
#box_content .movie-title-01{
	background:url(../images/pic_h2-01.png) no-repeat;
	width:388px;
	height:264px;
	top:280px;
	/*bottom:10px;*/
	right:35px}
#box_content .movie-title-02{
	background:url(../images/pic_h2-02.png) no-repeat;
	width:340px;
	height:248px;
	top:-80px;
	right:130px}		
#box_content h3{
	display:block;
	position:absolute;
	top:215px;
	right:91px;
	z-index:99;
	width:302px;
	height:35px;
	background:url(../images/pic_h3.png) no-repeat;
	text-indent:-9999px}
.btn_play-01 a{
	display:block;
	position:absolute;
	top:320px;
	right:143px;
	width:73px;
	height:75px;
	background:url(../images/btn_play.png) no-repeat;
	text-indent:-9999px}
.btn_play-01 a:hover{
	background:url(../images/btn_play.png) 0 -75px no-repeat}
.btn_play-02 a{
	display:block;
	position:absolute;
	top:-70px;
	right:215px;
	width:73px;
	height:75px;
	background:url(../images/btn_play.png) 0 -150px no-repeat;
	text-indent:-9999px}
.btn_play-02 a:hover{
	background:url(../images/btn_play.png) 0 -225px no-repeat}
		
#main-vision{
	display:block;
	position:absolute;
	bottom:0;
	left:250px;
	background: url(../images/pic_main-vision.png) no-repeat;
	width:569px;
	height:585px}	
#truck{
	display:block;
	position:absolute;
	bottom:0;
	left:50px;
	background:url(../images/icon_truck.png) no-repeat;
	width:79px;
	height:44px}
		

/* 2.3 首頁選單 */		
#box_menu{
	display:block;
	position:relative}
#box_menu ul{
	display:block;
	position:absolute;
	top:75px;
	left:10px;
	width:131px}
#box_menu li a{
	display: block;
	width:131px;
	height:46px;
	text-indent:-9999px;
	background:url(../images/btn_nav.png) no-repeat;
	margin: 30px 0;
	border-bottom:1px dashed #FFFFFF}
#box_menu a.nav_01, #box_aside a.nav_01{ background-position: 0 0}
#box_menu a.nav_01:hover, #box_aside a.nav_01:hover{ background-position: 0 -46px}
#box_menu a.nav_02, #box_aside a.nav_02{ background-position: 0 -92px}
#box_menu a.nav_02:hover, #box_aside a.nav_02:hover{ background-position: 0 -138px}
#box_menu a.nav_03, #box_aside a.nav_03{ background-position: 0 -184px}
#box_menu a.nav_03:hover, #box_aside a.nav_03:hover{ background-position: 0 -230px}
#box_menu a.nav_04, #box_aside a.nav_04{ background-position: 0 -276px}
#box_menu a.nav_04:hover, #box_aside a.nav_04:hover{ background-position: 0 -322px}
#box_menu a.nav_05, #box_aside a.nav_05{ background-position: 0 -368px}
#box_menu a.nav_05:hover, #box_aside a.nav_05:hover{ background-position: 0 -414px}	

/* 2.4 版權列 */					
footer{
	clear:both;
	display:block;
	position:relative;
	width:1238px;
	height:46px;
	background:url(../images/bg_footer.png) repeat-x;
	-webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px}
footer p{
	text-align:center;
	font-size:0.813em;
	color:#fffcdb;
	margin:0;
	padding:0;
	line-height:46px}
footer .txt_ad{
	display:block;
	position:absolute;
	top:14px;
	right:48px;
	width:52px;
	height:24px;
	background:url(../images/pic_ad.png) no-repeat;
	text-indent:-9999px}

/*新增動畫效果 #20150827*/
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite}
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s}
.box_ani-01{
	-webkit-animation-delay:1s;
	animation-delay:1s;
	-webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
	animation-duration: 2s;
    -webkit-animation-name: zoomIn;
    -moz-animation-name: zoomIn;
    animation-name: zoomIn}
.box_ani-02{
	-webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
	animation-duration: 2s;
    -webkit-animation-name: zoomIn;
    -moz-animation-name: zoomIn;
    animation-name: zoomIn}	
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
	-webkit-animation-delay:2s;
	animation-delay:2s;
	-webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
	animation-duration: 1s;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    animation-name: fadeIn}
	
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInRight {
  -webkit-animation-delay:2s;
  animation-delay:2s;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}							