/**********************************************************************************************

	Title: CSS for DGH MicroMovie Site
	Author: Elmo Wu (by xuedesign studio)
	Author URL: http://www.xuedesign.tw/
	Version: v1.0 (2015-08)

***********************************************************************************************
		1 通用
		2.首頁
		   2-1. 頂端列
		   2-2. 主要內容區塊
		   2-3. 首頁選單
		   2-4. 版權列
		3. 劇情介紹
		4. 劇照花絮
		5. 單位簡介
		6. 相關連結		
***********************************************************************************************/

/* 1. 通用 
===============================================================================================*/
body{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#513030;
	background:url(../images/bg_site.png) repeat}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}
::selection {
   background:#4b4608;
   color:#fffcdb}
::-moz-selection {
   background:#4b4608;
   color:#fffcdb}

/* 2. 首頁  
===============================================================================================*/
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
#wrap{
	display:block;
	width:1238px;
	margin:0 auto}
#box_index{
	display:block;
	position: absolute;
	top: 15px;
    left: 50%;
	width:1238px;
	background:url(../images/bg_index.png) repeat;
	margin: 0 0 0 -620px;
	-webkit-box-shadow: 0 0 20px #4E4E4E;
    -moz-box-shadow: 0 0 20px #4E4E4E;
    box-shadow: 0 0 20px #4E4E4E;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px}

/* 2.1 頂端列 */	
h1 a{
	display:block;
	position:absolute;
	top:0;
	left:30px;
	width:178px;
	height:221px;
	background:url(../images/pic_subh1.png) no-repeat;
	text-indent:-9999px}

/* 2.2 主要內容區塊 */		
#sub-vision{
	display:block;
	position:absolute;
	bottom:0;
	left:221px;
	z-index:99;
	background: url(../images/pic_sub-vision.png) no-repeat;
	width:295px;
	height:378px}	
#truck{
	display:block;
	position:absolute;
	bottom:0;
	left:105px;
	background:url(../images/icon_truck.png) no-repeat;
	width:79px;
	height:44px}
		

/* 2.3 首頁選單 */
#box_aside{}		
#box_aside li a{
	display: block;
	width:131px;
	height:46px;
	text-indent:-9999px;
	background:url(../images/btn_nav.png) no-repeat;
	margin: 30px 0;
	border-bottom:1px dashed #FFFFFF}
#box_aside a.nav_01{ background-position: 0 0}
#box_aside a.nav_01:hover{ background-position: 0 -46px}
#box_aside a.nav_02{ background-position: 0 -92px}
#box_aside a.nav_02:hover{ background-position: 0 -138px}
#box_aside a.nav_03{ background-position: 0 -184px}
#box_aside a.nav_03:hover{ background-position: 0 -230px}
#box_aside a.nav_04{ background-position: 0 -276px}
#box_aside a.nav_04:hover{ background-position: 0 -322px}
#box_aside a.nav_05{ background-position: 0 -368px}
#box_aside a.nav_05:hover{ background-position: 0 -414px}	

/* 2.4 版權列 */					
footer{
	clear:both;
	display:block;
	position:relative;
	width:1238px;
	height:46px;
	background:url(../images/bg_footer.png) repeat-x;
	-webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px}
footer p{
	text-align:center;
	font-size:0.813em;
	color:#fffcdb;
	margin:0;
	padding:0;
	line-height:46px}
footer .txt_ad{
	display:block;
	position:absolute;
	top:14px;
	right:48px;
	width:52px;
	height:24px;
	background:url(../images/pic_ad.png) no-repeat;
	text-indent:-9999px}			
	
/* 3. 劇情介紹  
===============================================================================================*/
#box_container{
	display:block;
	position: absolute;
	top: 15px;
    left: 50%;
	width:1238px;
	background: url(../images/bg_container.png) no-repeat #ff9275;
	margin: 0 0 0 -620px;
	-webkit-box-shadow: 0 0 20px #4E4E4E;
    -moz-box-shadow: 0 0 20px #4E4E4E;
    box-shadow: 0 0 20px #4E4E4E;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px}

#box_container h2{
	display:block;
	position:absolute;
	top:14px;
	right:43px;
	background:url(../images/pic_h2-1.png) no-repeat;
	width:279px;
	height:43px;
	text-indent:-9999px;
	margin:0;
	padding:0}
#box_subcontent{
	display:block;
	position:relative;
	width:1238px;
	/*min-height:713px*/}
#bg_house{
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/pic_house.png) repeat-x;
	width:1238px;
	height:159px}		
#box_aside{
	display:block;
	position:relative;
	float:left;
	z-index:99;
	width:195px;
	padding-left:15px}
#box_aside ul{
	display:block;
	width:210px;
	padding-top:210px}

#box_pagemain{
	display:block;
	position:relative;
	float:right;
	width:938px;
	padding:60px 0 0 90px}
#bar_title{
	display:block;
	width:100%;
	height:50px;
	background:#00c5b9;
	-webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0}	
#bar_title span{
	display:block;
	position:absolute;
	top:45px;
	left:55px;
	background:url(../images/pot_truck.png) no-repeat;
	width:84px;
	height:84px;}	
#bar_title h3{
	display:block;
	position:absolute;
	top:72px;
	left:160px;
	background: url(../images/bg_pagetitle.png) no-repeat;
	width:135px;
	height:24px;
	margin:0;
	text-indent:-9999px}
#bar_title .title_01{ background-position:0 0}
#bar_title .title_02{ background-position:0 -24px}
#bar_title .title_03{ background-position:0 -48px}
#bar_title .title_04{ background-position:0 -72px}		

#box_pageinfo{
	display: block;
	width:900px;
	min-height:640px;
	background:url(../images/bg_pageinfo.png) repeat-y;
	-webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0}
#box_main{
	display:block;
	width:660px;
	height:300px;
	margin:30px 30px 0 215px;
	padding:0}	
.abgne_tab ul, .abgne_tab li {
	margin: 0;
	padding: 0;
	list-style: none}
.abgne_tab {
	clear: left;
	width: 660px;
	margin: 10px 0}
.tabs { width: 100%; height: 135px}
.tabs li a{
	display:block;
	position: relative;
	float: left;
	width: 197px;
	height: 135px;
	text-indent:-9999px;
	overflow: hidden;
	margin:0 15px;
	background:url(../images/bg_tabtitle.png) no-repeat;}
.tabs li a.tabs-01{ background-position: 0 0}
.tabs li a.tabs-02{ background-position: 0 -270px}	
.tabs a:hover.tabs-01, .tabs .active a.tabs-01{ background-position:0 -135px}
.tabs a:hover.tabs-02, .tabs .active a.tabs-02{ background-position:0 -405px}

.tab_container {
	clear: left;
	width: 100%;
	border-top: 2px solid #fff;
	margin-top: 15px}
.tab_container .tab_content {
	display: block;
	position:relative;
	padding: 0 30px}
.tab_container .tab_content h3{
	font-size:1.125em;
	line-height:25px;
	padding:0}
.tab_container .tab_content p, .box_profile p, .box_service p{
	font-size:0.938em;
	line-height:24px;
	padding-left:20px;
	text-shadow:1px 1px 0 #FFF8F6}
#tab2{ display:none}	
		
.page_story .btn_play{
	display:block;
	position:absolute;
	top:-28px;
	right:30px;
	background: url(../images/btn_subplay.png) no-repeat;
	width:132px;
	height:31px;
	text-indent:-9999px;
	margin:25px auto}
.page_story .btn_play:hover{ background-position: 0 -31px}
.story_main{ 
    display:block; 
	padding:80px 0 5px 0;
	text-shadow:1px 1px 0 #FFFCFE}
.box_actor{ 
    display:block; 
	width:760px; 
	margin:0 auto}
.box_actor li{
	display:block;
	float:left;
	width:175px;
	margin:0 15px;
	list-style:none}
.box_actor li img{ display:block; width:92px; margin:0 auto 10px auto}	
.box_actor li h4{
	font-size:1.125em;
	line-height:20px;
	color:#C6162D;
	letter-spacing:1px;
	text-align:center;
	padding:0;
	margin:0}
.box_actor li p{text-shadow:1px 1px 0 #FFF8F6}					 	 	
			
/* 4. 劇照花絮 
===============================================================================================*/
#box_pageinfo .box_stills{
	display:block;
	width:660px;
	padding-top:30px}
#box_pageinfo .box_stills ul{ margin:0; padding:0}
#box_pageinfo .box_stills li{
	display: inline-block;
	width:85px;
	height:85px;
	background:#F5E3EF;
	margin:15px;
	list-style:none;
	overflow:hidden;
	padding:3px;
	border:1px solid #CC4C71}					
.box_film{
	display:block;
	width:710px;
	height:399px;
	padding:15px 0 15px 24px}
.box_film-02{
	display:block;
	width:657px;
	height:369px;
	padding:15px 0 30px 40px}	

/* 5. 單位簡介
===============================================================================================*/
.box_service ol{
	display:block;
	width:90%;
	margin:0 auto;
	padding:20px;
	border:2px dashed #00C5B9;
	background:#fff;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px}
.box_service li{
	width:90%;
	font-size:0.938em;
	line-height:24px;
	text-shadow:1px 1px 0 #FFF8F6;
	margin-left:30px;
	padding:8px 0;
	border-bottom:1px dashed #DBC3BD}
.box_service li:nth-child(5){ border-bottom:none}		

/* 6. 相關連結  
===============================================================================================*/
.box_link ul{
	display:block;
	padding:30px 50px 30px 0}
.box_link li{
	list-style:none;
	display:block;
	float:left;
	width:150px;
	margin:0 0 30px 50px}
.box_link li h4{
	font-size:1em;
	text-align:center;
	line-height:22px;
	padding-top:5px;
	text-shadow:1px 1px 0 #FFFCFE}		
.box_link li a{
	display:block;
	width:132px;
	height:132px;
	background:url(../images/link_logo.png) no-repeat;
	text-indent:-9999px;
	margin:0 auto}
.box_link li a.icon-office{ background-position:0 -132px}
.box_link li a.icon-office-02{ background-position:0 -264px}
.box_link li a.icon-office-03{ background-position:0 -396px}	